@model ReviewsSite.Models.Review
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Style.css" />
    <title>Create</title>
</head>
<body>

    <h4>Review</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <div class="form-container">
                <h2>Leave a review</h2>
                <form asp-action="Create" method="post">
                    <input type="hidden" id="BevId" name="BevId" value="@Model.BevId" />
                    <div class="text-success">@ViewBag.Result</div>
                         <div class="form-group">
                        <label asp-for="ReviewerName" class="control-label">Name: </label>
                        <input asp-for="ReviewerName" class="form-control" />
                        <span asp-validation-for="ReviewerName" class="form-control"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Content" class="control-label">Review: </label>
                        <input asp-for="Content" class="form-control" />
                        <span asp-validation-for="Content" class="form-control"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Rating" class="control-label"></label>
                        <input asp-for="Rating" class="form-control" min="1" max="5" />
                        <span asp-validation-for="Rating" class="form-control"></span>
                    </div>

                    <br />
                    <input type="submit" />
                </form>
            </div>
        </div>
    </div>

    <div>
        <a href="/Bev/Details/@Model.BevId">Back to List</a>
    </div>
    

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>
