@model IEnumerable<ReviewsSite.Models.Review>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Style.css" />
    <title>BEVerly</title>
</head>
<body></body>
</html>
