@model ReviewsSite.Models.Review
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Style.css" />
    <title>Update</title>
</head>
<body>
    <header>
        <h1>BEVerly</h1>
        <p><a href="/Bev">Back to Home Page</a></p>
    </header>

    <div class="row">
        <div class="col-md-4">
            <div class="form-container">
                <h2>Edit your review</h2>
                <form asp-action="Update">
                    <input type="hidden" id="BevId" name="BevId" value="@Model.BevId" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="ReviewerName" class="control-label">Name: </label>
                        <input asp-for="ReviewerName" class="form-control" />
                        <span asp-validation-for="ReviewerName" class="text-danger"></span>
                    </div>
                    <br />

                    <div class="form-group">
                        <label asp-for="Content" class="control-label">Review: </label>
                        <input asp-for="Content" class="form-control" />
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="Rating" class="control-label">Rating: </label>
                        <input asp-for="Rating" class="form-control" />
                        <span asp-validation-for="Rating" class="text-danger"></span>
                    </div>
                    <br />

                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary"/>
                    </div>
                </form>
                <div>
                    <a href="/Bev/Details/@Model.BevId">Back to Product deatils</a>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>
