@model ReviewsSite.Models.Bev

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="~/Style.css" />
        <title>BEVerly</title>
    </head>
    <body>
        <h1>@Model.Name </h1>
        <p>@Model.Description</p>
        <p>@Model.Category</p>
        <p>@Model.Review</p>
        <img src =@Model.Image/> 




    </body>




    </html>