@model ReviewsSite.Models.Bev

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="~/Style.css" />
        <title>BEVerly</title>
    </head>
    <header>
        <h1>BEVerly</h1>
        <p><a href="/Bev">Back to Home Page</a></p>
    </header>
    <body>

        <h1>Name: @Model.Name </h1>
        <p>Description: @Model.Description</p>
        <p>Category: @Model.Category</p>
        <p>Review: @Model.Review</p>
        <div class="container">
            <img src="~/@Model.Image" />
        </div>



    </body>




    </html>