@model IEnumerable<ReviewsSite.Models.Bev>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Style.css" />
    <title>BEVerly</title>
</head>
<body>
    <header>
        <h1>BEVerly</h1>
        <p>Welcome to the Carbonated Beverage Review!</p>

    </header>

    <main>
        <h2>Select a beverage to review</h2>
        @foreach (var bev in Model)
        {
            <p><a href="/Bev/Details/@bev.Id">@bev.Name</a></p>
            
        }




    </main>

    <footer>
        &copy; BEVerly 2021
    </footer>
</body>
</html>
