body {
    background-color: whitesmoke;
    font-size: 1.1em;
    background-image: url("Images/bubblesdrinks.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    
}


main {
    margin-left: 5%; 
}
header {
    border-bottom: solid black 2px;
    text-align: center;
    font-family: cursive;
}

img {
    width: 300px;
    height: 250px;
}

footer {
    margin-top: 30%;
    font-size: 0.8em;
    text-align: center;
}

.image-container {
  
}

.form-container {
    margin-left: 5%;
}

.review-container {
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 50%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center;
    border: solid black 2px;
    background-color: lightgray;
}

.user-Reviews {
    margin-left: 5%;
}

.productDetails {
    margin-right: 50%;
}

.bevDetails {
    background-color: lightgray;
    opacity: .5;
}

.ratings {
    float: left;
}

.ratingsimg {
    height: 50px;
    width: 50px;

}