body {
    background-color: whitesmoke;
    font-size: 1.1em;
    background-image: url("Images/bubblesdrinks.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    
}
main {
    margin-left: 5%; 
}
header {
    border-bottom: solid black 2px;
    text-align: center;
}

img {
    width: 300px;
    height: 250px;
}

footer {
    margin-top: 30%;
    font-size: 0.8em;
    text-align: center;
}

.container {
    display: flex;
}
